[2016-01-22 20:55] brandonnelson3 opened #1 "Default to dryrun if no type flag is passed."

[2016-01-22 20:55] brandonnelson3 opened #2 "Consider Regexen for exclusion and inclusion."

[2016-01-24 00:34] #1 closed

[2016-01-26 02:03] cweill opened #3 "Add flag for generating tests for only exported functions/methods"
Something like -exportedonly or -only=exported.

[2016-01-26 02:05] cweill opened #4 "Include receiver type in test method names"
If two structs implement a method with the same name, they will cause gotests to generate two tests with the same name.

Instead tests should prefix the type of the receiver to the test name.

[2016-01-27 04:14] cweill opened #5 "Support custom templates with external formatters"
Sometimes outputting got and want isn't enough. There are many useful OSS packages for generating pretty diffs of strings, structs, slices etc, but it would be unreasonable for this binary to require them as dependencies in the generated test files.

Instead, if the repository already has the dependency, the template will use it by automatically. This would allow users to created their own custom

[2016-01-27 04:18] cweill commented on #3
Actually, this can easily be solved with #2 using `-only=^[A-Z].*`, so it may not be worth making a new flag. Consider including that example in flag description

[2016-01-27 04:21] cweill commented on #4
On second thought, the receiver name should always be prefixed in test function names for methods. e.g.
[code]

[2016-01-27 04:34] cweill opened #6 "Add option to put struct receiver fields in method's test-struct"
This would mean less code needed in tests, since the receiver is often under test and its fields may frequently change, or not be required. The fewer characters needed per test case, the better. Perhaps a `-fields` boolean flag.

e.g.
[code]
Default:
[code]
With  `-fields` flag:
[code]

[2016-01-27 05:08] #4 closed

[2016-01-28 20:54] cweill opened #7 "Add -f flag to force create test functions that already exist"
If a dev changes a method signature, they will want to update their tests. But if the name is the same, gotests won't generate the test if it already exists. A `-f` flag should force it to create the duplicate test functions.

[2016-01-28 21:14] cweill opened #8 "Prefix receiver type in error message"
gotests on `func (c *Client) Create() {}` should output:
[code]

[2016-01-29 03:38] #8 closed

[2016-01-29 03:41] cweill commented on #5
The path to the templates directory should be stored in and read from an environment variable such as `$GOTESTS_TEMPLATES`.

[2016-01-29 03:43] cweill opened #9 "Use byte.Buffer for io.Writer parameters"
If a function takes an `io.Writer`, gotests should automatically pass a `bytes.Buffer`, and then convert it to a string to be used in `got`.

[2016-01-29 03:51] cweill opened #10 "Option to not have name for test and only print parameters"
There should be a way to label tests with small parameter inputs such as small strings, integers, and structs. Then the inputs should be listed in any error message, such as:

[code]

[2016-01-29 03:54] cweill commented on #10
`-print-inputs`

[2016-01-29 03:59] cweill commented on #10
Or simply `-i`

[2016-01-29 04:24] #10 closed

[2016-01-29 04:30] cweill commented on #6
Actually, since the second example requires the developer to write the least code per test case, it should be the default.

[2016-01-29 05:07] cweill opened #11 "Imports from tests files bunched incorrectly"
This only happens when a test file already exists and has several non-stdlib imports. When gotests outputs new tests to the file, the imports get bunched together incorrectly.

[2016-01-29 17:08] cweill opened #12 "Error message for wantErr should use %q instead of %v"

[2016-01-29 18:43] cweill commented on #12
Actually, it's not really needed.

[2016-01-29 18:43] #12 closed

[2016-01-29 18:44] cweill opened #13 "Create fake for http.ResponseWriter"
Since http.ResponseWriter is likely to be tested frequently, it deserves it's own fake.

[2016-01-31 18:04] cweill commented on #2
Closed with cbb246e266c8cbf7025f0706324b5e16a614af21

[2016-01-31 18:04] #2 closed

[2016-01-31 20:05] cweill commented on #5
f7bf5795c8ba29d516385b488a151d6549d6e48c

[2016-01-31 20:05] cweill commented on #5
d7c35f008c0fe3a4cabaa61e85a0e9e769bb030a

[2016-01-31 20:06] cweill commented on #3
cbb246e266c8cbf7025f0706324b5e16a614af21

[2016-02-02 16:28] cweill opened #14 "Use httptest.ResponseRecorder when function has a http.ResponseWriter argument."
https://golang.org/pkg/net/http/httptest/#ResponseRecorder

[2016-02-04 04:57] cweill commented on #11
Turns out this is only an issue for custom build systems. Needs more investigation.

[2016-02-04 04:57] #11 closed

[2016-02-10 06:27] cweill commented on #9
64f65d7e5da789eeb36ec2899cb53df2217b377c

[2016-02-10 06:27] #9 closed

[2016-02-16 03:52] cweill commented on #13
Duplicate of #14

[2016-02-16 03:52] #13 closed

[2016-02-16 03:53] cweill commented on #6
8aeb956d0d5e859a91e2dd19eaeb8e65f91b478f

[2016-02-16 03:53] #6 closed

[2016-02-21 20:13] cweill commented on #3
This really needs a flag.

[2016-02-21 20:44] #3 closed

[2016-03-16 23:21] thomaso-mirodin opened #15 "Namespacing in the test table"
Hey :D

Thanks a bunch this has been really useful in the past few days. Have you thought about trying to namespace the different arguments in the table. For example a sample s3 mock:

[code]

will produce this test:

[code]

but since the tests struct includes both the fields and arguments it can get a bit confusing trying mentally keep track of where things going. Would you consider doing someth

[2016-03-16 23:53] cweill commented on #15
Glad to hear you're finding gotests useful. :)

That's actually a great suggestions! I was considering just putting comments like:

[code]

But your suggestion would eliminate the namespacing hack I use (pname vs. fname). I'll need to think about the implementation some more, and of any edge cases. At first glance, it sounds reasonable.

[2016-03-17 00:14] thomaso-mirodin opened #16 "Support for specifying an expected error in the table"
It would also be really useful if you could specify a specific error value that should be returned by a test, rather than the general `wantErr`.

For example extending #15's example

[code]

would produce:

[code]

It'd be nice if I could test for the different error cases :D

[2016-03-17 01:11] cweill commented on #16
I intentionally reduced the error-result check to a boolean in order to encourage testing error semantics, not error messages. The issue, especially when using `fmt.Errorf`, is that this makes tests brittle if you ever change the error down the line. String comparison on error messages has the potential of transforming tests into change detectors, so I think simply checking whether an error is ret

[2016-03-17 01:30] cweill commented on #15
On second thought, there are some issues with using structs to namespace different arguments, particularly when writing test cases:

1. If the developer omits one of the structs, they'll get a nil-dereference runtime error from the test code, not the code under test. No fun.
1. It requires extra work for each test case to create a new struct.

Instead, __gotests__ could do the following:

1. Prefi

[2016-03-17 03:07] thomaso-mirodin commented on #16
Yeah, I can definitely understand that situation as I've experienced it myself :D

+ it isn't like I can't easily change it when I want it :P

[2016-03-17 03:11] thomaso-mirodin commented on #15
My goal is just understandability. :D

Prefixing each with something as well as including the comments in the example you had earlier would probably accomplish that goal.

[2016-03-17 04:27] cweill commented on #16
You got it. ;)

In any case, thanks for the FRs!

[2016-03-17 04:27] #16 closed

[2016-03-24 03:03] jcmartins opened #18 "gotests version"
Please implement gotests -version or th short -v to see the version of gotests package

tks
joao

[2016-03-24 03:05] jcmartins opened #19 "Atom Editor Plugin"
Hi,
do you have plans to make a Atom Plugin?

tks

[2016-03-24 03:51] cweill commented on #19
No plans yet, though contributions are certainly welcome.

[2016-03-25 04:20] cweill opened #20 "Vim plugin"
We have [EMacs support](https://github.com/damienlevin/GoTests-Emacs), but it would be nice to have a Vim plugin too for all our home-row-key friends out there.

[2016-04-10 16:56] sudheernayudu opened #21 "Generate Go Tests in Sublime Text 3 giving error as "error: [Errno 2] No such file or directory: 'gotests'.""
This might be a trivial configuration issue, but i was unable to figure out. I configured user gotests sublime settings with right GOPATH. All other golang plugins are working fine. My OS is OS X El Captain.
GoTests is perfectly working from command line. Please help in resolving this..

[2016-04-10 17:02] sudheernayudu commented on #21
This might be a trivial configuration issue, but i was unable to figure out. I configure user gotests sublime settings with right GOPATH. All other golang plugins are working fine. By the way i'm using OS X El Captain.

[2016-04-11 16:12] abulimov commented on #19
I'm using your excellent gotests utility with Atom, and made a simple plugin for it - https://atom.io/packages/gotests. It resembles the Sublime Text plugin functionality. Hope it helps!

[2016-04-13 03:06] cweill commented on #19
Thanks! I'll like to your plugin in the README.

[2016-04-13 03:08] #19 closed

[2016-04-13 03:15] cweill commented on #21
Hey any luck since then? Just to double check, you ran `go get github.com/cweill/gotests/...` and then added set your __absolute__ GOPATH in the `GoTests.sublime-settings` file?

Try launching Sublime from the terminal and see if that helps. If it does, it means your shell environment variables may be loaded when you launch Sublime another way (say by opening it from the application dock).

Worst

[2016-04-13 04:45] sudheernayudu commented on #21
Thanks a lot. It worked perfect after providing absolute path of gotests in gotests_cmd.

[2016-04-14 16:48] cweill commented on #21
No problem. Glad I could help!

[2016-04-14 16:48] #21 closed

[2016-06-18 18:15] cweill opened #22 "Tests not generated when two methods/functions have same name"
When two methods have the same name, but one is exported and the other isn't, tests don't get generated.

e.g.

[code]

This is easy to fix, but it means changing generate test function names. We can use the same convention as the one used for examples at: https://golang.org/pkg/testing/#pkg-overview

[code]

Except the difference with examples is that not all functions or receivers are exported.

[2016-06-18 18:22] #22 closed

[2016-06-19 03:36] cweill commented on #15
On second thought, I prefer your suggestion with the structs. I'm not a big fan of the comments, and the prefix name-spacing is kind of confusing (rName vs pName).

[2016-06-19 04:59] #15 closed

[2016-07-28 04:58] cweill opened #23 "Use subtests once Go 1.7 is released"
Subtests are introduced in Go 1.7. They'll be very useful for table driven tests.

See https://github.com/golang/go/issues/9268

[2016-08-29 03:40] kryptodev commented on #23
+1 This is an amazing work you've done here. Thanks for spoon-feeding us lazy bums :)

[2016-08-29 03:41] kryptodev opened #24 "Intellij Idea Plugin"
Hi, it would be neat to see a plugin for the aforementioned added. Golang Plugin for Intellij has become quite mature overtime.

Thank you for this amazing work.

[2016-09-15 17:41] sudheernayudu opened #25 "generate tests failing after upgraded to go1.7"
Hi,
I'm getting the below error while generating tests after upgraded to go1.7. If anything is missing, please help..

panic: inconsistent import:
    func errors.New(text string) error
previously imported as:
    func errors.New(text string) error
 [recovered]
    panic: inconsistent import:
    func errors.New(text string) error
previously imported as:
    func errors.New(text string) error

gor

[2016-09-15 20:22] cweill commented on #25
Ack. I'll look into this when I get home.

In the meantime, have you tried reinstalling gotests with `$ go get -u github.com/cweill/gotests/...` ?

[2016-09-15 20:24] cweill commented on #24
Hi @kryptodev and thanks! Apologies for the late reply, I was away on vacation.

A plugin would be great, but unfortunately I don't know the first thing about Intellij. I'll leave this issue open in case someone wants to pick it up.

If someone makes their own repo with the plugin, I'll gladly link to it in the README.

[2016-09-16 18:35] sudheernayudu commented on #25
I tried that too, no luck

[2016-09-21 19:47] cweill commented on #25
Which version of Go are you running? I haven't seen this issue on Go v1.7rc3. What environment (Mac, Linux, Windows)? Can you show me the function signature that is giving you this error and steps to reproduce?

[2016-09-21 19:51] sudheernayudu commented on #25
I tried with go1.7.1, will provide more details after i reached home. Its failing for even simple functions. Are you not getting this issue?

[2016-09-21 20:24] cweill commented on #25
I haven't been able to reproduce it yet, but I haven't tried with Go 1.7.1. Are you on Linux?

[2016-09-21 21:08] sudheernayudu commented on #25
I'm on mac OS x El captain

[2016-10-08 03:54] cweill commented on #25
Can you please list the exact steps to reproduce this error including the function signature it failed on?

[2016-10-12 18:21] cweill commented on #25
Looks like there is an issue with the `golang.org/x/tools/imports` package. Try deleting `golang.org/x/tools/imports` and then running `go get -u golang.org/x/tools/imports` again. Maybe that will help. It may have broken with go 1.7.

[2016-10-18 17:45] itsjamie commented on #23
Is this something you would accept a PR for?

I assume it should conditionally use the old template for 1.6, and use the subtests template for >=1.7?

[2016-10-18 21:20] cweill commented on #23
@itsjamie I would be open to PR if you are interested in taking this on. I know a lot of people who would really appreciate this feature, but I haven't had the time to work on this lately.

There would be three requirements:

1. It should use the same templates to generate the subtests.
1. To maintain backwards compatibility, we could conditionally check the go version, though I'm not sure how to

[2016-10-25 12:26] itsjamie commented on #23
I've started to work on this.

The approach I'm taking is creating a new template for >= Go 1.7.

Then, maintain the backwards compatibility I'm using build tags, so for <Go 1.7, the template functions target the existing template, and for Go 1.7+ they target the new template.

I moved the template into two separate files just to see all the differences. If you would rather have it just use condit

[2016-10-25 15:56] cweill commented on #23
Sounds good! Looking forward to your PR.

[2016-10-26 09:19] micyee opened #27 "Go 1.7 install failed"
go get -u -v github.com/cweill/gotests/...
github.com/cweill/gotests (download)
# cd /Users/Project/go/src/github.com/cweill/gotests; git pull --ff-only

There is no tracking information for the current branch.
Please specify which branch you want to merge with.
See git-pull(1) for details.

[code]

If you wish to set tracking information for this branch you can do so with:

[code]

package github

[2016-10-26 09:35] cweill commented on #27
Did you try running `gotests` from the command line? Did it not work? Nothing in this error message makes it sound like the installation failed.

[2016-10-26 09:39] #20 closed

[2016-10-26 10:41] micyee commented on #27
I did not find out where the problem was，But it's ok now.Thanks for answering

[2016-10-26 11:28] cweill commented on #27
No problem. Glad to hear it worked out.

[2016-11-05 01:47] itsjamie commented on #25
@sudheernayudu If you've updated your Go, I've always had the best luck with these odd errors by just removing the contents of the `pkg` directory in `$GOPATH`. If it does fix the issue for you, I think you're supposed to report it on the Go project.

[2016-11-06 23:08] gertcuykens commented on #27
Hmm, I get this error on OSX?

[code]

[2016-11-07 01:16] itsjamie opened #29 "Testing sql.DB usage"
Similar to #14, when `sql.DB` is detected as one of the arguments to the function or as a struct fields, perhaps the https://github.com/DATA-DOG/go-sqlmock could be included to provide a mock database connection?

[2016-11-07 04:49] cweill commented on #29
I would prefer to avoid having third-party dependencies when generating tests. However I would like to have a way for someone to define their own "templates" for handling special scenarios like the one you mentioned.

[2016-11-07 04:51] cweill commented on #27
Try deleting `$GOPATH/src/github.com/cweill/gotests` and `$GOPATH/bin/gotests`, then rerun the command.

[2016-11-07 05:01] gertcuykens commented on #27
Nope same thing, ps i never get a `gotests` bin only the download.

Are you online now? the i can show you join.me/gert.cuykens

[2016-11-07 05:22] cweill commented on #27
Check that `/Users/gert/go/src/golang.org/x/tools` exists. If it does, `cd` into `/Users/gert/go/src/github.com/cweill/gotests` and run `go install ./...`

[2016-11-07 05:39] gertcuykens commented on #27
Yep doing it that way worked

[2016-11-07 05:40] cweill commented on #27
Glad to hear it worked. Still,  it's strange that installing `golang.org/x/tools/goimports` is causing issues for some people.

[2016-11-07 05:40] #27 closed

[2016-11-07 05:42] gertcuykens commented on #27
Do you have a mac? I think it can be easily reproducible on OSX

[2016-11-07 05:43] gertcuykens commented on #27
[code]

[2016-11-07 17:55] #23 closed

[2016-11-08 01:30] gertcuykens commented on #27
remove `golang.org/x/tools/` to fix the above

[2016-11-08 05:01] cweill commented on #23
@itsjamie thanks again for your help! I posted on r/golang, and it seems like a lot of Gophers are excited to have this feature.

https://www.reddit.com/r/golang/comments/5bo6tp/gotests_test_generation_tool_now_supports/

[2016-11-08 08:40] holys opened #30 "continue is not in a loop"
### Env:
go version go1.7.1 darwin/amd64
Sublime Text 3 using the  plugin https://github.com/cweill/GoTests-Sublime

### What Happens:
There shouldn't be a `continue` inside `t.Run` .

Now work around  by adding the '-nosubtests' options in the sublime text 3 plugin.

### Generateded code:

[code]

[2016-11-08 11:03] xiaods opened #31 "gotests add "robpike.io/ivy/config" to my test file."
[code]

[2016-11-08 12:16] itsjamie commented on #23
Neat. Thanks for letting me. Now I can work on getting the behaviour and flag supported in vscode :) In case you didn't know they use your binary in the official vscode-go extension.

[2016-11-08 17:28] cweill commented on #30
Ah, I'll fix this right away.

[2016-11-08 17:37] #30 closed

[2016-11-08 17:39] cweill commented on #31
gotests uses goimports under the hood to format your code and add imports. If you have a `config` package in your GOPATH, goimports may have accidentally imported it.

[2016-11-11 03:34] gnhuy91 opened #32 "Generated tests for main func have syntax err"
[code]

[2016-11-11 08:57] ammario opened #33 "Use '_test' package when appropriate"
If the `-exported` flag is set, it makes more sense to use the `_test` package by default in the generated code.

[2016-11-13 18:51] cweill commented on #33
Can you please give me an example? I'm not exactly sure what you mean by "`_test` package".

[2016-11-14 08:38] ammario commented on #33
When testing only exported functions, tests are encouraged to use the `<package>_test` package instead of just `<package>`. It has the effect of making the user think more about what he exports and forces him to only test exported methods. It is the exception to the only one package per directory rule.

[2016-11-15 04:26] cweill commented on #33
Oh wow, TIL! I had never heard of that before, but I just tested it out, and it works. Since which Go version is that a thing?

Could you please point me to some documentation for this feature? I have trouble finding it.

[2016-11-15 08:08] ammario commented on #33
Unfortunately I can't find any official documentation of the feature... There's a good amount of blog posts and stackoverflow answers alluding to it positively though. There doesn't seem to be a general consensus on when to use it. The official blog uses it [here](https://blog.golang.org/examples) but doesn't specify why. I assume it's to isolate the scope of test related variables.

Maybe it woul

[2016-11-17 04:37] itsjamie commented on #33
The other time I've seen it used is to make `ExampleXXX` functions copy and paste friendly. Since they need to be compilable, if you write them in the regular package name you won't have the package name for your example code. https://blog.golang.org/examples

[2016-11-28 19:23] cedriclam opened #35 "Support method type in "-only" regular expression option"
Currently with the option “-only” it is not possible to provide the “struct type” in the regular expression.

example:
[code]

if we run ```gotests -only PrintName``` it will generate the unit-tests for both functions

it could be interesting to support also the struct type in the regular expression like this: ```gotests -only structA.PrintName``` or ```gotests -only (structA).SetName```

or creat

[2016-11-28 19:40] cedriclam opened #36 "Do not overwrite "import groups" in the generate output"
Currently if we when ```gotests``` generates tests on an existing test file, it rewrite completely the imports with a default ordering.

example:
[code]

gotests output:
[code]

it will be nice if "gotests" works like "goimport" and so the "import groups" are not remove.

[2016-11-29 14:37] zchee opened #37 "gotests will removed license header & Neovim integration"
Hi,
Thanks for good tools, I always use it when writing tests.

And, I am developing gotests Neovim integration on the [zchee/nvim-go](https://github.com/zchee/nvim-go). Thanks again.

---

BTW, gotests will remove license header if already exists `*_test.go` file.
I thought doing pull request, but maybe reads the gotests code seemed to take a while, so I wanted to hear it first.
Do you have any i

[2016-11-29 14:43] zchee commented on #37
I'm vendoring gotests package and use the exported API on nvim-go.
So I can parses license header before running the gotests, and re-insert to generated buffer.

However, I thought that this problem would happen to normal(on command-line) users, so I posted an issue.

[2016-11-29 16:24] cweill commented on #37
Thank you for filing this issue. Indeed, that can be an issue if the top comments are being discarded in the test file. I don't think the fix should be too difficult, so I'll look into it.

[2016-11-29 16:26] zchee commented on #37
@cweill Thanks quickly.
The license header is important even test file. I hope it will be fixed.
Thanks!

[2016-11-29 16:26] cweill commented on #36
This is a known issue with gotests, but something that should be fixable. gotests uses `golang.org/x/tools/imports` under the hood just like goimports, so it's not clear to me why the import groups are removed.

[2016-12-23 16:43] josedh opened #39 "Issue installing gotests on vscode"
Hello everyone. I have an issue trying to install gotests on my mac machine:
Steps:
Click the 'Analysis tool missing' option in the bottom right corner of vscode.
Installation begings:

Installing 1 tools
  gotests

Installing gotests FAILED

1 tools failed to install.

gotests:
Error: Command failed: /usr/local/go/bin/go get -u -v github.com/cweill/gotests/...
github.com/cweill/gotests (download)

[2016-12-23 16:45] jdelaohernandez commented on #39
I hope this is the correct place to put this in. If not, please let me know. Thanks.

[2017-01-04 01:38] cweill commented on #39
Did you figure out the issue? Since this was installed with VSCode, try posting to https://github.com/Microsoft/vscode-go.

Maybe try deleting and reinstalling `golang.org/x/tools/imports` with `go get`?

[2017-02-17 04:28] #37 closed

[2017-04-07 15:30] emou opened #41 "Support for generating test cases"
Hi,

I've been thinking of modifying gotests to support using the [testing/quick](https://golang.org/pkg/testing/quick/) package to generate test cases
and optimize them for code coverage.

Have you thought about something similar before and is this something you would accept as a feature in the project, or is it better to fork it?

My high-level idea is to:

- Use gotests to generate tests
- Use

[2017-04-08 18:50] cweill commented on #41
@emou - I like your idea.  Generating test cases fits nicely with the goal of gotests: to make writing tests easier. If you could outline a design of how this would work, I would be happy to critique it and provide guidance.

One of the core challenges is figuring out how to seamlessly get `testing/quick` to generate test cases and then pass them to gotests. It's not immediately clear how we can g

[2017-05-13 03:00] adamdrake commented on #32
I was bitten by this as well.  Cause seems to be the template excluding loop index/value in the case of functions that take no arguments and return no values. [https://github.com/cweill/gotests/blob/master/internal/render/templates/function.tmpl#L44](function.tmpl, line 44).

@cweill, can we just remove that check?  If that's ok with you I will fix and send a PR.

[2017-05-13 03:01] cweill commented on #32
Hey yeah, sure thing. Send a PR and I'll approve.

[2017-05-13 03:39] adamdrake commented on #32
Thank you @cweill.  Please review.

[2017-09-11 06:45] ahmetb opened #45 "No need for "type args struct" if function takes a single-argument"
e.g.

[code]

In the code above, instead of generating `type args struct { ...}`, it's sufficient to just specify args field in anonymous struct as `*corev1.Pod` and not generate an additional type. This should help create simpler and more readable tests.

[2017-09-12 02:01] scottjbarr opened #46 "Error when current directory name ends with .go"
If the name of the directory ends in `.go`, tests cannot be generated.

[code]

*I've replaced the actual $GOPATH with `$GOPATH`*

If the name of the directory is changed from "foo.go" to "foo", then test generation works as expected.

[2017-09-22 07:34] rigelrozanski opened #47 "Allow to optionally use testify"
Open to coding this one if there is support to merge...
I'm a huge fan of the testing package testify for printing errors during testing:
github.com/stretchr/testify/assert

It would be cool to have a flag which allowed for use of this package instead of the standard error print which is currently being used... here is an example of how this change would look:

old:
[code]
with testify:
[code]

Ob

[2017-10-06 15:24] cweill commented on #47
Hi @rigelrozanski - I like the idea, but I am a little conflicted since I would prefer to minimize third-party dependencies. However, if you can add `testify` support while maintaining backwards compatibility, and keep all `testify` code modularized and independent from the rest of the source, I would be open to merging the change.

[2017-10-08 20:59] rigelrozanski commented on #47
Okay awesome... yeah I understand your desire to minimize 3rd party packages. I'll see how modular I am able to make this once I get around to this

[2017-10-10 03:25] cweill commented on #47
I've been playing with the idea of allowing users to define their own template (see #5). I haven't had much time to look into it since I haven't been doing as much Go development lately, but I would be happy to provide guidance for a clean design.

Since templates can be parsed from files, we could define a template "interface". Then the user can just point to the directory contain the template vi

[2017-10-10 03:26] cweill commented on #45
Sounds reasonable. Feel free to make a pull request.

[2017-10-22 10:48] costela opened #49 "panic: interface conversion: ast.Expr is nil, not *ast.StructType"
The following minimal code (which correctly builds) reliably leads to a panic:
[code]

Generates the following panic:
[code]

[2017-10-23 05:20] cweill commented on #46
This seems like an unusual edge case, as I believe directories don't usually end in ".go". Feel free to make a pull request to address this issue.

[2017-11-09 20:31] tmc opened #53 "Support generation of Examples"

[2017-11-13 12:24] jawher commented on #5
@cweill I like this idea !

I thought of something similar while preparing this PR #54 :
Since my IDE (GoLand) doesn't let me configure the options to pass to GoTests, I toyed with the idea of having GoTests look for a config file in the project directory to configure itself.

It could start by the folder where it was invoked, and move up until the project root, until if find a config file, e.g. `

[2017-11-20 04:28] cweill commented on #49
I'll mark this as fixed by #50.

[2017-11-20 04:28] #49 closed

[2017-11-20 06:32] matrixik commented on #5
TOML will be added to Go std lib when https://github.com/golang/dep will be absorbed.

[2017-11-21 10:24] scottjbarr commented on #46
Yes it is odd. Unfortunately I have seen it out in the world at two separate companies now.

[2017-12-25 12:31] julianfrank opened #56 "Test document creation error output.Process:imports.Process:..."
Everything was working fine till yesterday but today I'm getting this error whenever I try to create a test for the function in vscode 1.19.1 windows x64
output.Process: imports.Process: C:\Users\Johan\AppData\Local\Temp\gotests_174054079:18:1: expected declaration, found ')'

In the temp folder I only see empty 0 bytes gotests_xxx files

No idea what is the problem

[2018-01-16 19:14] stdatiks opened #58 "Error while run on directory whith dot symbol (like "repo.git") in name"
**directory**: `GOPATH/src/repo.git`
**cmd**: `gotests -all GOPATH/src/repo.git/file.go`
**output**: `input.Files: no Go source files found at GOPATH/src/repo.git`
Where GOPATH is my $GOPATH

I think that problem is here:
https://github.com/cweill/gotests/blob/651680c71b22b1164ee36398b009b2da5839e694/internal/input/input.go#L17
It should be used method `FileStat.IsDir()`

Sorry for my english =)

[2018-01-26 11:06] cvigo commented on #16
I was missing the same feature when I found this enhancement request.
To my understanding, proper error reporting is crucial in API development and several other scenarios. Copy/Paste often makes your API returning wrong errors that make your API consumers life harder if they reach production. Typical "Not Found"  when you should have said "Not Authorised". Therefore, checking specific error repor

[2018-02-01 14:04] r1se opened #60 "When use global variable get panic error."
When i set global variable value in test i'm get **panic: assignment to entry in nil map**
In main file i'm have `var authheader string`
According golang init() in *_test.go run after non-test files

My test is:
[code]

[2018-02-01 15:30] r1se commented on #60
close pls

[2018-02-01 15:30] #60 closed

[2018-03-16 04:20] cweill commented on #39
Closing due to lack of activity.

[2018-03-16 04:20] #39 closed

[2018-03-16 04:21] #25 closed

[2018-03-16 04:24] cweill commented on #58
Feel free to issue a pull request.

[2018-03-16 13:55] julianfrank commented on #56
I stopped working on windows and now use Ubuntu... same code works without any problem in ubuntu!

[2018-03-16 13:55] #56 closed

[2018-03-20 04:35] #58 closed

[2018-04-05 10:30] toby3d opened #64 "GoTests: GOPATH is not set."
I use go version go1.10 linux/amd64 and Sublime Text 3 on Manjaro Linux.

After installing this plugin I get `GoTests: GOPATH is not set.` on any try of creating test from context menu.

Why I get this message, if I set GOPATH correctly (for example, for GoSublime plugin)?

[2018-05-15 13:52] webhat opened #66 "Gotests strips comments"
Hi,

I'm a long time user, and have only noticed this issue now. It seams that `gotests` strips comment from the test files, this includes the copyright and license header block which is prepended to file. Is this expected behaviour, or would you accept a change?

[2018-05-20 16:01] cweill opened #67 "Go 1.6 not working on Travis CI"
Something to do with `package context: unrecognized import path "context" (import path does not begin with hostname)`.
Log:
[code]

[2018-05-31 17:31] spdowling opened #69 "Index out of range when generating tests"
When attempting to generate tests:

[code]

I get the following panic:

[code]

[2018-06-08 15:13] arduanov commented on #69
Same error, failed on struct with interface embedding
[code]
error
[code]

[2018-06-10 23:54] qtplatypus opened #70 "Miss leading error message when no flag is provided."
[code]

The message "Please specify either the -only, -excl, -export, or -all flag" should be "Please specify either the -only, -excl, -exported, or -all flag"

[2018-06-12 09:25] mindlesslcc opened #71 "Support generation of Benchmark"

[2018-06-14 02:08] cweill commented on #70
Good point! Feel free to issue a pull request, and I'll approve it.

[2018-06-14 03:13] cweill commented on #66
@webhat: I would gladly accept a change, since I don't have much time to work on this. Feel free to submit a pull request.

[2018-07-05 10:36] epsimatic commented on #24
Support for `gotests` is included into Goland (similar product from the same vendor)

Right click on the function to test, `Goto` → `Tests` → `Generate test`

[2018-07-21 16:20] #70 closed

[2018-07-21 16:20] #69 closed

[2018-07-21 21:11] #66 closed

[2018-07-21 21:17] mekegi commented on #24
It'll be cool add info about Intellij Goland to readme
IDE: IntelliJ Goland
Shortcut: Ctrl+Shift+T
Link to help: https://www.jetbrains.com/help/go/run-debug-configuration-for-go-test.html

[2018-09-27 20:18] gcstang commented on #24
I see a bug when using gotest to generate inside of GoLand.

1. Select section of code i.e. function
2. Push Cmd+Shift+T
3. Select Generate for selection
4. Generated code is using a variable of 'tt' and the table has a variable 'tests' instead.
`func Test_checkUpdate(t *testing.T) {
    tests := []struct {
        name string
    }{
    // TODO: Add test cases.
    }
    for range tests {

[2018-10-08 12:14] zolotov commented on #24
@gcstang it has nothing to do with GoLand, it's #32

[2018-10-24 16:39] avgeorge commented on #35
This is actually already supported for both "-only" and "-excl", but it is a bit awkward to use. The command for your example would be `gotests -only StructAPrintName`.
The regexes are matched against a functions "FullName" which includes the receiver type.
https://github.com/cweill/gotests/blob/c51312f508e7040f06d1eb174da68364155b1fc0/internal/models/models.go#L121-L127
However the "FullName" use

[2018-10-29 03:55] #67 closed

[2018-10-29 03:56] cweill opened #84 "Go 1.11 on Travis CI"
Need to add testing for Go's latest release: v1.11

[2019-03-12 07:33] wangliyao opened #91 "package golang.org/x/tools/imports move to godoc.org/golang.org/x/tools/imports"
when I run `go get -u -v github.com/cweill/gotests/...`  found this error

I try open the url then find the address jump to [godoc.org/golang.org/x/tools/imports](godoc.org/golang.org/x/tools/imports)

[2019-03-15 08:03] sunliver commented on #35
@avgeorge
I've found an interesting case.
Considering as follows,
[code]
- `gotests -only foobarFunc . ` and `gotests -only fooBarFunc .` have no output, but
- `gotests -only FoobarFunc .` will generate tests both for type `Foobar`(TestFoobar_Func) and `foobar`(Test_foobar_Func)
- `gotests -only FooBarFunc .` will generate tests both for type `FooBar`(TestFooBar_Func) and `fooBar`(Test_fooBar_Func

[2019-03-28 20:37] jdheyburn opened #92 "Verbose error comparison"
I've enhanced locally generated tests that expect an error to make a DeepEqual to the returned test, such as below:

`if tt.wantErr != nil && !reflect.DeepEqual(err, tt.wantErr) {`

Where `tt.wantErr = errors.New("expected error")`.

I've found the template file that needs to be enhanced for this at below:
https://github.com/cweill/gotests/blob/master/internal/render/templates/function.tmpl

If yo

[2019-04-04 15:16] zerjioang opened #93 "Benchmark test should be avoided"
When selecting -all in gotests, Benchmark functions should be avoided for test generation purposes.

[2019-04-07 17:43] cweill commented on #93
@zerjioang: This does sound like a bug. Can you please provide an example code file where this happens?

[2019-04-07 17:53] cweill commented on #92
@jdheyburn: IIRC the best practice for writing go tests is not to compare the error messages exactly, because it tends to be brittle. The best thing for you to do is create a custom template and pass it via the `--template_dir` flag. That way you don't need a custom fork of gotests.

[2019-04-07 17:53] cweill commented on #91
Is this still an issue? I am unable to reproduce it.

[2019-04-07 17:54] #91 closed

[2019-04-07 17:54] cweill commented on #71
@mindlesslcc, can you please provide an example of what a generated Benchmark test would look like?

[2019-04-07 17:56] cweill commented on #53
@tmc: Can you please provide an example of what this would look like?

[2019-04-07 17:57] #84 closed

[2019-04-07 19:32] cweill commented on #47
If anyone wants to create some testify templates for the `-templates_dir` flag, I can review them and add them to this repository.

[2019-04-07 19:53] cweill opened #96 "Allow users to pass external parameters to custom templates"
Custom templates may take additional arguments no specified by gotests. Enable users to pass these custom args via a flag, either as a serialized JSON string, or as a path to a JSON file.

[2019-04-09 19:05] zerjioang commented on #93
When I execute the gotests with -all flag, the functions with following header definition:

`func BenchmarkGetState(b *testing.B){}`

are also treated as test candidate generating following code snippet:

[code]

I wont consider this as a bug, but could be a great improvement for those project that have Test functions and Benchmarks.

The way I found to fix this is using the regular expression opt

[2019-04-24 07:37] exfly opened #97 "malformed module path"
➜  go git:(master) ✗ go get -u github.com/cweill/gotests/...
go get github.com/cweill/gotests/...: malformed module path "github.com/cweill/gotests/...": double dot

[2019-05-02 07:50] jdheyburn commented on #92
Thanks for the tip. For reference I created an overriding function.tmpl file gist that can be found here:
https://gist.github.com/jdheyburn/978e7b84dc9c197bcdd41afece2edab5

[2019-05-06 08:27] matrixik opened #98 "Potencial improvements to default tests template"
I'm not sure if this will be interesting for this project but Dave Cheney gave nice presentation about writing tests for Go code with some improvements over default template from `gotests`:
https://dave.cheney.net/paste/gopherchina-2019-testing-talk.pdf

Like having `name` in `map[string]struct` instead of `[]struct` or using https://github.com/google/go-cmp `Diff` for better displaying what diffe

[2019-05-13 15:57] mekegi commented on #98
@matrixik
added PR for cmp.Equal and cmp.Diff in generated tests

for changing from
[code]
to
[code]
I think it's better to create different issue for changing struct slice to map struct

[2019-05-14 03:39] a1305315624 commented on #98
I think if we have a complex scenario like if we have in order dependency, the map randomly maybe cause result will be unknown. and if need that map style, generated then manually modify also is easy.

[2019-05-16 17:50] bitfishxyz commented on #91
Still have same problem @cweill .

I come from China and Great Fire Wall just block goland.org, I am not sure if this is the problem.

I already use a VNN and able to visit golang.org

From @wangliyao's id, I think he cames from China too. ...

[2019-05-20 18:12] #96 closed

[2019-05-22 01:45] cep21 opened #100 "Generated tests don't compile if receiver type name is `t`"
I have
[code]

When I generate a test, it looks like this:

[code]

The error is that t is of type testing.T, but TimeWindow is also a `t`.  Maybe special case checking "t" for the object name and using something else?

[2019-05-22 01:45] cep21 commented on #100
To clarify, the error is at this line:
[code]

[2019-06-10 16:34] HaleLu commented on #97
+1

[2019-06-13 15:29] duanebc opened #101 "bexport.go:212: obj.IsAlias undefined"
On installation I receive errors.

`$ go get -v github.com/cweill/gotests                                                                                                                                                               golang.org/x/tools/go/internal/gcimporter

[2019-06-15 03:17] sonoman opened #102 "Cannot generate tests for package"
In Intellij Goland, when I choose "Generate tests for package", I get this error:
`gotests fatal error: concurrent map writes`
then an infinite stack trace, and then this other message
`created by github.com/cweill/gotests.parallelize`

I don't really know if I´m doing something wrong

[2019-07-17 10:54] SalleryWang opened #105 "go get github.com/cweill/gotests/...: no matching versions for query "latest""

[2019-08-02 23:27] taiidani opened #106 "Underscores in Generated Tests"
Our team is currently having a discussion over underscores being present in the generated Tests for `gotests`. These underscores appear to match the naming convention defined in https://golang.org/pkg/testing/#hdr-Examples but that convention implies that is for Examples only, not Tests.

Wondering what discussion occurred that led to this convention in `gotests` applying for the generated Tests?

[2019-08-14 00:34] cweill commented on #106
@taiidani: It was a solution to the fact that in Golang you can have a function called `Foo` and `foo` in the same package or on the same struct. So if you generated a test for both, they would have identical test names. The examples link shows an example of when you can have the underscores, but I agree that it's not the most aesthetically pleasing. :)

That being said, there was no formal discus

[2019-08-14 00:35] cweill commented on #100
That's a good idea. Feel free to send a PR.

[2019-08-14 15:10] taiidani commented on #106
Ah, thank you for the explanation! Yes the discussion on our side centered mainly around aesthetics. Not a big deal, but it cut a swath through our team on which each engineer preferred.

We've been using the test auto-generator built into VS Code's Golang extension to get quickly generated table tests. Some of the argument centered exactly around your explanation -- that in order to delineate bet

[2019-08-16 03:57] cweill commented on #106
@taiidani: I agree, it might be worth reaching out to the Golang team and getting their opinion.

[2019-08-16 16:17] taiidani commented on #106
@cweill Upgraded this to a proposal issue in golang/go: https://github.com/golang/go/issues/33688

[2019-08-19 22:13] HeathNaylor commented on #105
Same issue for me.

[2019-08-30 21:38] josdotso commented on #105
This worked for me: `GO111MODULE=off go get github.com/cweill/gotests/...`

Therefore, this repo doesn't support go modules yet.

[2019-09-09 01:51] kaihendry opened #107 "t.Parallel()"
Can these tests be generated to be run in parallel?

https://twitter.com/peterbourgon/status/1169414085097607168

[2019-09-19 08:56] gs-jha commented on #97
+1

[2019-09-19 09:41] gs-jha commented on #97
@exfly @HaleLu
Workaround for me was:
first, do `go get -u github.com/cweill/gotests`
then do `go get -u github.com/cweill/gotests/...`

[2019-10-11 10:03] #100 closed

[2019-10-19 09:50] shihanng commented on #47
@cweill I would very much like to send in the templates for testify. I've modified the function template based on https://github.com/cweill/gotests/tree/17e4e80b8a3898088c7a316fc614f2443bfa3884/internal/render/templates

However I could not figure out where should I put the custom templates. Could you let me know where should the custom templates be placed? Thank you very much.

[2019-10-20 13:04] cweill commented on #107
@kaihendry If you'd like to add this as a feature, feel free to submit a PR, and I will approve it.

[2019-10-20 13:06] cweill commented on #47
@shihanng Feel free to send a PR and add a new directory called `templates/` in the root dir next to `gotests.go`. Then you can add a flag to the binary called `--template` and have one be `"testify"`.

[2019-10-25 07:02] baixiaoshi commented on #29
how to resolve this problem

[2019-10-25 07:17] baixiaoshi opened #110 "mock http"
i want to mock http , should i import third-part package? example  gomock

[2019-11-02 05:26] aikaiqiang commented on #97
@gs-jha thx, it works

[2019-11-08 12:06] johnfercher opened #111 "Generate test cases"
First of all, very nice your project. I would like to contribute too, and I have some questions.

Do you have plans to generate the test cases too? Would be difficult to do it?

Do you have plans to generate separated test functions instead of the table style?

[2019-11-09 17:37] #47 closed

[2019-11-10 18:26] cweill commented on #111
@johnfercher Thank you for your kind words. Unfortunately, these days I mostly write Python, so you likely are getting more use out of this project than I am. Nevertheless, I'm happy to answer your questions:

I believe that generating test cases is more difficult than generating the test boilerplate. The latter can be done deterministically by parsing a method-under-test's signature and building

[2019-11-10 18:28] cweill commented on #110
Once `gotests` generates a test for you, you can import whatever packages you want in that test file. So you can import `gomock` if your test body requires mocking. Does that answer your question?

[2019-11-10 18:29] cweill commented on #105
If someone knows how to create go modules, please send a PR to fix this. Thank you.

[2019-11-11 10:05] SalleryWang commented on #105
ok,i will do this.

[2019-11-13 21:39] #105 closed

[2019-11-16 04:20] shihanng opened #116 "Add GOTESTS_TEMPLATE and GOTESTS_TEMPLATE_DIR environment variables"
What do you think about adding `GOTESTS_TEMPLATE` and `GOTESTS_TEMPLATE_DIR` environment variables that corresponds to the `-template` and `-template_dir` options?

When working with different projects, some might being using testing framework like https://github.com/stretchr/testify some might not. Having these environment variables available allows users to which between the template types easil

[2019-11-16 07:35] cweill commented on #116
@shihanng I think that's a very reasonable proposal. Feel free to send a PR.

[2019-12-11 07:00] liulangwa commented on #97
go version go1.12.14 windows/amd64 no work @gs-jha

[2019-12-11 07:06] liulangwa opened #119 "go get github.com/cweill/gotests/...: malformed module path "github.com/cweill/gotests/...": double dot"
## env
go version go1.12.14 windows/amd64

set GOARCH=amd64
set GOBIN=
set GOCACHE=xxxx
set GOEXE=.exe
set GOFLAGS=
set GOHOSTARCH=amd64
set GOHOSTOS=windows
set GOOS=windows
set GOPATH=E:\work\goworkspace
set GOPROXY=https://goproxy.io
set GORACE=
set GOROOT=c:\go
set GOTMPDIR=
set GOTOOLDIR=c:\go\pkg\tool\windows_amd64
set GCCGO=gccgo
set CC=gcc
set CXX=g++
set CGO_ENABLED=1
set GOMOD=NUL
set CG

[2019-12-15 10:46] shihanng commented on #119
This appears to be a known issue in Go 1.12: https://github.com/golang/go/issues/29363
and it is fixed for Go 1.13.

For Go 1.12, the work around to install the CLI is

[code]

[2019-12-16 03:03] #119 closed

[2019-12-24 07:59] liulangwa commented on #119
thinks ,go 1.13 fixed this problem

[2020-01-24 03:21] tishibas opened #120 "Support for another template funcs"
What do you think about adding `-sprig` or `-template_functions sprig` option to use more template functions.

We can create more rich original templates by adding more template functions like [sprig](https://github.com/Masterminds/sprig) .

If you think this is okey, I will create a PR.

[2020-02-23 17:58] 178inaba opened #122 "misspell warning"
[code]

[2020-02-23 18:26] 178inaba opened #124 "vet warning"
[code]

[2020-02-23 18:50] 178inaba opened #126 "CI is not running 1.13 tests"
This is because there is no 1.13 in `.travis.yml`.

[2020-02-23 19:08] 178inaba opened #128 "gofmt warning"
https://goreportcard.com/report/github.com/cweill/gotests#gofmt

[code]

[2020-02-23 19:33] #128 closed

[2020-02-23 19:38] #126 closed

[2020-02-23 19:52] #122 closed

[2020-02-23 19:55] #124 closed

[2020-02-24 21:51] #116 closed

[2020-04-12 17:21] tmc opened #130 "Add option to generate cmp.Diff usage vs reflect.DeepEqual"

[2020-04-13 04:53] #107 closed

[2020-04-21 17:58] skovtunenko commented on #98
@matrixik I feel the same. @davecheney wrote a great article about PROs to stick with maps in table-driven tests.
Now, I'm manually changing the generated output from the tool to use `map[string]struct`.

[2020-04-28 14:25] salarkhan commented on #105
still seeing this using go1.12:
[code]
[code]

[2020-04-30 10:13] skovtunenko commented on #107
Hello, @zolotov!

With this feature merged into the `origin/develop`, it would be great to take advantage of it in the IntelliJ IDEA/GoLand IDEs.
At least the `tc := tc // capture range variable` part of the generated code example:
[code]
Motivation: it's always safer to capture for loop range variables. If someone later on decided to run subtest as Parallel, there would be one less chance to miss

[2020-04-30 12:00] zolotov commented on #107
@skovtunenko Hi!

I don't think it relates to `gotests` project, so could you file a feature request on [GoLand tracker](https://youtrack.jetbrains.com) instead, please? Also, it would be nice if you provide the code with problem to catch, the current code is fine as `tc` is not used in any goroutine.

[2020-05-15 19:08] SteelPhase commented on #33
This feature is documented [here](https://golang.org/cmd/go/#hdr-Test_packages).

This would be a great feature to have

[2020-05-15 19:11] SteelPhase opened #131 "Verify test package name when generating tests"
I've noticed that when generating tests, they will generate as invalid if the `*_test.go` file uses the `_test` suffix in its package name (i.e.`package *_test`).

[2020-05-20 02:26] ivanxwwu opened #132 "Support to automatically generate mock code"
Since we write use cases most of the time writing mock data, I want to know if there are plans to integrate mock tools under gotests, such as gomonkey, convey, etc. When we use gotests to generate use cases, we also generate mock sample code together. I am also doing secondary development based on your gotests tool to achieve this function.

[2020-06-21 22:40] lepinkainen opened #133 "Add a -version flag to differentiate two gotests binaries"
I have two setups, in one the `-parallel` option works just fine in vscode - it generates parallel test cases as it should. In the other it doesn't do anything (not reporting errors in custom flags is a problem in the vscode go plugin, which is not the issue here).

Both were installed with `go get -u github.com/cweill/gotests/...` when in the $HOME directory within 15 minutes of each other.

One

[2020-06-24 22:35] robtrooper opened #134 "No tests generated for my path"
I'm running the following expecting it to generate a test file as oppose to getting stdout
/home/rob/go/bin/gotests -all -w  /home/rob/Projects/Go/testme

The first time it said
Generated Test_main
But it didn't create a test file. I ran the same command again but then it said
No tests generated for /home/rob/Projects/Go/testme
Subsequent commands give me No tests generated.

There doesn't appear

[2020-07-22 16:19] kaskavalci commented on #56
For me it was the commented out import statement in test file. Removing it fixed the problem.

[code]

[2020-07-29 03:03] rafee opened #135 "Request for new release"
Newer features such as "-template" and "-parallel" are not available in default download as they are not included in official release. As a result, if anyone uses automated downloads such as VSCode-Go extension they don't have access to these features.

[2020-07-31 12:05] sorenisanerd opened #136 "Tests fail?"
When I run the test suite locally, I get a failure. I see that the test suite runs succesfully in Travis, but I'm not sure what the difference might be. Do you have any ideas?

[code]

[2020-07-31 12:07] sorenh commented on #136
To be honest, I feel like the `got` is more correct than the `want`. Why provide a `*someIndirectImportedStruct` in the test table, but then not use it in the body of the test?

[2020-08-22 23:23] chatrasen opened #137 "Support for mocks in tests"
Majority of the functions involve calls to functions from external packages which need to be mocked. Adding support for mocks can take `gotests` to the next level I believe.

e.g. An example function and its generated test can look something like this (pseudocode)

CODE
[code]

TEST
[code]

I would first like to ask whether you have already thought about the feasibility of this idea. If you feel t

[2020-11-25 21:32] titolins opened #139 "Allow loading from externally embedded template data"
Currently, there's no way to integrate gotests programmatically with your own binary embedded templates.

Since the current structure doesn't allow for any access to the `tmpls` variable in `internal/render`, and the template functions are also not exported, what I had in mind was doing something similar to how `Template`, `TemplateDir` and `TemplateParams` works.

I'll just create the pull reques

[2020-11-25 21:54] cweill commented on #139
Hi @titolins, could you please provide an example of what's the intended behavior you expect? I'm not sure what you mean by "externally embedded template data".

[2020-11-25 22:07] titolins commented on #139
Hey @cweill , thanks for your time.

I've just opened a PR, but didn't know how to properly link it to this issue:
https://github.com/cweill/gotests/pull/140

Sorry for that, but I can't appear to fix the link, if you could help me would be awesome :smile:

Regarding the use case, I'm sorry for not being so clear. I'm part of a code generator project for internal use and I'm trying to use `gotests

[2020-11-25 22:13] cweill opened #143 "Setup GitHub actions for CI"
Since TravisCI will no longer be supporting open-source projects anymore, we should migrate CI to GitHub Actions.

[2020-11-25 22:17] cweill commented on #139
Are you using the `gotests` module as a library instead of the binary? Any reason you couldn't use the `-template_dir` flag instead? Then you could use `exec.Command("gotests", "-template_dir", "/path/to/templates").Run()`

[2020-11-25 22:25] titolins commented on #139
Yeah, my first approach was doing exactly that. The problem is that then I wouldn't be able to embed the templates in the binary. Another option would be forking the repo and having the modified templates in there instead.

[2020-11-30 01:12] cweill commented on #135
This is now fixed with #141.

[2020-11-30 01:12] #135 closed

[2020-12-08 13:55] Morozov-5F commented on #143
Should be done in #145.

[2020-12-25 11:24] Pissssofshit commented on #111
Do you got any idea of how to generate the test case ? I'm very curious about that.

[2020-12-26 22:12] cweill commented on #143
Fixed with #145.

[2020-12-26 22:12] #143 closed

[2020-12-26 22:58] #139 closed

[2020-12-26 23:09] cweill commented on #132
When you have a PR that adds similar functionality, let me know. I'll be happy to have a look. Feel free to add more details here if you have suggestions. Currently there are no plans to add mock support as the use of mocks heavily depends on whether the code author prefers mocks or fakes/dependency-injection.

See https://martinfowler.com/articles/mocksArentStubs.html

[2020-12-26 23:11] cweill commented on #131
I believe the convention is to save the *_test suffix for tests only, so this is working as intended, unless you have a concrete example of when this functionality is needed.

[2020-12-26 23:12] cweill commented on #133
@lepinkainen Sorry you ran into that issue. If anyone wants to send a PR that will include the version (including git commit), I will review and approve it.

[2020-12-26 23:16] SteelPhase commented on #131
I've heard it to referred to as external testing, but [this page covers the functionality](https://tip.golang.org/cmd/go/#hdr-Test_packages). I'm sure there's more info available

There is an issue on functionality documentation [here](https://github.com/golang/go/issues/25223)

[2020-12-26 23:16] cweill commented on #111
The long-term vision for this project is for it to generate test code, **including test cases**, for you automatically based on the signature and high level description.

With [OpenAI's recent release of GPT-3 on May 2020](https://en.wikipedia.org/wiki/GPT-3) which can generate high quality code that actually compiles, generating Golang test cases may actually be feasible! Here are [some repos tha

[2021-01-17 14:16] Azero-NG commented on #53
I think the following is what he needs

# source file

[code]

# generated example function in test file

[code]

[2021-01-17 14:20] Azero-NG commented on #53
if gotests have  this feature, we will generate example functions quickly and easily like generating test functions.
![image](https://user-images.githubusercontent.com/21135073/104845748-0b5f2400-5912-11eb-93ad-ecae208d3160.png)

[2021-01-19 14:40] cweill commented on #53
If anyone is willing to submit a PR, I'll review it.

[2021-02-20 08:33] butuzov opened #148 "Having tests as map vs slice"
I wonder if having maps instead of the slice is desired feature for `gotests` users. I made a [simple implementation](https://github.com/butuzov/gotests/tree/named) based on `default` and `testify` templates.

Can be checked with next parameters:

[code]

Benefits:
- it wouldn't break current implementation if not provided (arg `-asmap`).
- it makes tests random (as go maps iterated in random orde

[2021-02-20 08:36] butuzov opened #149 "template_params argument"
What does [`template_params`](https://github.com/cweill/gotests/blob/develop/gotests/main.go#L60) do and how to use it? I tried to understand, but it looks that it's just redundant in terms of the `main` package.

Or is there some hidden magic I miss?

[2021-02-22 01:46] cweill commented on #148
@butuzov This seems like a good idea. Do you mind posting an example output test here as a comment? I'm curious what it would look like, and what the generated map key names would look like.

[2021-02-22 01:48] cweill commented on #149
It was introduced in https://github.com/cweill/gotests/pull/90, for users who want to call gotests from a separate binary.

[2021-02-22 01:55] cweill commented on #137
Hi @chatrasen, while personally I'm not the biggest fan of mocks (I prefer fakes and stubs), I understand that many Go programmers would love to have this feature. I also see that [goland/mock](https://github.com/golang/mock) is very popular. As long as this feature is disabled by default, and enabled by a flag like `--automock='mock'`, so that we can extend this to use other mocking libraries in

[2021-02-22 02:00] cweill commented on #131
I see, this is used for test-only packages right? If you want to send a PR to fix this, I'll be happy to approve.

[2021-02-22 03:19] butuzov commented on #149
Sorry, I mean what this param does in `main.go`, as argument it does nothing. `TemplateParams` is quite clear down the road of the `output` package.

[2021-02-22 03:43] butuzov commented on #148
[code]

With a tons of tests, it looks like this - https://github.com/butuzov/gotests/blob/as_map/gotests_test.go,  it's not really cute, but randomness in tests are quite useful.

[2021-02-28 05:23] butuzov commented on #148
@cweill does it still looks like a good idea?

[2021-03-07 21:20] SteelPhase commented on #131
Yes it is, I'll see if I can come up with a simple way to solve this.

[2021-03-09 22:44] johan-lejdung commented on #137
I'm using mockery and are very interested in trying this package out! It would be amazing to get some generated code with support for mockery mocks as well 🙏

Following with great interest

[2021-03-11 01:02] teddylear commented on #133
@cweill I can take a look into adding this

[2021-03-11 01:56] cweill commented on #133
@teddylear Sounds good to me. A PR will be welcome.

[2021-03-11 02:01] cweill commented on #148
@butuzov  Looks like a good idea to me, as it's similar to what Python's absl package uses [1]. Maybe a flag `-named` or `-named_tests` to make it more clear. Your PR should only need one or two unit tests, ideally. How does that sound?

[1] https://github.com/abseil/abseil-py/blob/master/absl/testing/parameterized.py#L80

[2021-03-11 04:04] butuzov commented on #148
I like this idea, a bit different from `--randomly-dont-reorganize` I used in `pytest`.

[2021-03-15 09:45] butuzov commented on #148
@cweill OK, so I did a thing(s).

There are several PRs from my side (I tried to granulate it as much as possible), this is an order we need to merge it in:

1) https://github.com/cweill/gotests/pull/150: Fixes CI, adds Subtests, fixes bug #136  in one of the tests
2) https://github.com/cweill/gotests/pull/151: Fixes another issue, you can run into while running tests (previous `tmpls` isn't clean

[2021-03-15 11:22] butuzov commented on #148
Did some tests with mergings.
You might want to merge PR one by one (each day). So I can update the next one with and resolve conflicts (there are quite few conflicts.)

[2021-03-16 01:09] cweill commented on #149
You're right, it looks like a bug where I forgot to pass it to the Options in #90. Would you like to send a PR to fix it?

[2021-03-16 01:15] cweill commented on #136
This should be fixed with #150.

[2021-03-16 01:15] #136 closed

[2021-03-16 01:17] cweill commented on #148
Thanks @butuzov ! I approved and merged #150.

Please update #151 to HEAD and I will have another look after you resolve my comments.

[2021-03-16 04:27] butuzov commented on #149
You have already assigned this to me =), but I will put this in the queue as time isn't my best friend.

[2021-03-16 23:51] mgabeler-lee-6rs opened #153 "testify template results in wrong assert import depending on module cache"
go.mod:
[code]
example.go:
[code]
run: `gotests -template testify -only '^Foo$' ./example.go`

Output:
[code]
Note the import of `assert` from the wrong package.

If I run `go clean -modcache`, and then `go mod download` and then run `gotests` again, it generates the proper imports.

The output of this tool should not be broken by the presence of unrelated packages in the module cache.

[2021-03-23 02:13] butuzov opened #154 "race condition in tests"
While adding tests for the `named`* feature runnned into the race condition in tests.

`go test -v ./... -count 10 `

can end up as...

1)  if #151 merged:
[code]

2) if #151 not merged:
[code]

Both happen for different reasons. #151 will fix the second part but not the first one.

* not implemented atm of this issue.

[2021-03-23 04:21] butuzov commented on #153
It's because of how the imports process works, and `testify` clearly not provided. I guess I will fix this as part of #152 as it also affects my tests alongside of #154

[2021-03-27 19:36] #148 closed

[2021-03-27 19:36] #153 closed

[2021-03-28 00:34] teddylear commented on #133
@cweill Added PR. As noted in PR, there appears to be an existing bug in the with the 1.16 version of the tests. Please let me know if there is a ticket for that already or if I should make one.

[2021-03-28 03:35] butuzov commented on #133
@teddylear can you tell more about failed tests? (maybe in sep issue)

[2021-03-28 04:36] teddylear commented on #133
@butuzov Here is a an example off the failed tests off of develop on this draft PR: https://github.com/cweill/gotests/pull/158. Note that I only edited the README and the the tests failed. Looks like it's not just a golang 1.16.x issue.

[2021-05-16 06:53] dev2021-ctrl opened #159 "Cannot see any mock sample data when generating tests"
Everytime  i generate test cases  ,it gives me same skeleton code like below wihtout adding any actual testing values in the code.
May be I am missing something.
Can somebody please advise.A bit urgent
All test cases have comments " TODO: Add test cases." Does this package not support it ?
func TestBit_Value(t *testing.T) {
	tests := []struct {
		name    string
		b       Bit
		want    driver.Value

[2021-05-19 13:22] butuzov commented on #159
this tool generates only a skeleton for the test table, it's your responsibility to provide test cases. How can we define the initial value for `b Bit` or `driver.Value`?

[2021-05-23 16:00] KevinColemanInc opened #161 "Goland generate tests"
The docs say you can use goland with this package, but I can't figure it out. Goland has its own ["generate action"](https://www.jetbrains.com/help/go/using-the-generate-action.html) but the docs don't explain how to  customize the template.

Is there an explicit guide on how to use this with Goland?

[2021-05-23 19:35] #154 closed

[2021-05-24 02:22] butuzov commented on #161
Based on screenshots I see a code it generates it's definitely `gotests` and `impl` (implement interface), but I have no idea how to configure it. My Gogland says the feature was added n 2021.02, so I guess its pretty fresh. Meanwhile, you can configure these tools in `VSCode`.

[2021-05-25 23:10] KevinColemanInc commented on #161
For future ppl, I contacted GoLand support and they said they don't provide a way to configure the generator at this time.

You can use an "external tool" + keyboard short cut to simulate the behavior.

## Guide

1. In Goland, Navigate to Preferences | Tools | External Tools and create a new tool.
2. Specify a name, description, and path to gotests executable.
3. Add arguments
`-all -w -template_d

[2021-05-25 23:10] #161 closed

[2021-07-16 09:58] zdjniubi opened #162 "where mock data?"
fake plugin? just generate a test func ? where my testing data? fake!

[2021-07-17 02:34] cweill commented on #162
That's right, this plugin generates the test scaffolding for you, but not the test data. This plugin will currently generate testing data. If you know of a general purpose way to generate the testing data, then please describe the design below, and I would be happy to incorporate it as a PR.

[2021-07-17 02:34] #162 closed

[2021-07-23 14:04] marema31 opened #163 "Ability to exclude generated files"
Hello

Would it possible to avoid generating tests for generated files ?

The simplest ways for me would be to look for the regex  ^// Code generated .* DO NOT EDIT\.$
documented here : https://pkg.go.dev/cmd/go/internal/generate.

If you have recommendation of the best way to do it, I can try to propose a PR if you like.

[2022-01-14 22:42] suzmue opened #165 "Generic function support"
Filing this issue to track/ discuss generic function support for gotests.

Currently, gotests produces a table driven test for a function with type parameters, but the test needs to actually be modified to include concrete types (the test file will have build errors).

Example:

typeparams.go:
[code]

typeparams_test.go:
[code]

Can better table driven tests be generated for functions with type pa

[2022-02-20 07:13] davidhsingyuchen opened #168 "Support only 2 latest major go releases"
## TL;DR

Raised a PoC [PR](https://github.com/davidhsingyuchen/gotests/pull/2), and it passed all the checks. If it looks good to you, I can raise a PR in this repository.

## Why

From [Go's release policy](https://go.dev/doc/devel/release#policy):

As a result, unless under some special circumstances, I feel that it does not make much sense to support versions that are not even supported by off

[2022-04-01 20:40] KevinSnyderCodes commented on #165
For some inputs, gotests fails to generate tests:

`typeparams.go`

[code]

`gotests` output:

[code]

[2022-04-14 01:24] Swathi-L commented on #130
Hi @cweill,
I think this is addressed as part of this PR, https://github.com/cweill/gotests/pull/155
Do we still need labels ("help wanted", "good first issue") on this issue?

[2022-04-14 01:49] Swathi-L commented on #92
Hi @cweill,
 Since `--template_dir` enhancement is done, can this issue be closed?

 PS: Am a newbie looking to contribute in this repo, found some issues to be open although its implementation is already completed, so commenting on those.

On the same note, can we have a bot that checks on older open issues in this repo and forces the owner/ issue opener to recheck and take appropriate actions li

[2022-04-14 08:30] #92 closed

[2022-07-07 16:24] aktasfatih opened #174 "Having a config file for each project"
Hi,

I am trying to create a template that different developers can use from a project repo directly.

I have found a small discussion about having a config file for each project. https://github.com/cweill/gotests/issues/5

I wanted to ask if any steps were taken about it?

Thanks.

[2022-11-04 13:48] jurisbu opened #177 "How to generate named tests?"
Hi,

How to generate named tests using map instead of slice? Doing a bit of archeology there seems to be support for this as part of #148. But how one can enable it from commandline? I cannot find any examples, or help or reference information. Passing `-named` does not work.

Would be great to add some help with examples?

gotests v1.6.0

cc @butuzov

[2022-11-04 14:20] jurisbu commented on #177
OK, seems that the code that implements `-named` functionality has not been released, meaning it is still in `develop` branch.
@cweill Can we expect v1.7.0 release at some point? :pray: Otherwise `go install ...gotests@latest` pulls in v1.6.0.

[2022-11-04 18:57] butuzov commented on #177
Well you can just pick dev branch, it’s actually stable. At least it was 9
month ago. @cweill is/was pretty busy at that moment to release changes
from develop branch.

On Fri, 4 Nov 2022 at 16:20, Juris ***@***.***> wrote:

[2022-11-04 19:05] jurisbu commented on #177
@butuzov Yes that is one way, just have to remember when updating all Go tools from VS Code Go extension that I need to manually update `gotests`, since VS Code Go extension will update tools to `@latest`. A little inconvenience. Oh, well.

[2022-11-04 19:05] #177 closed

[2022-11-04 19:21] butuzov commented on #177
If you specify path to go tests located elsewhere, viscose updating to @latest wouldn't affect your setup. It's possible with vscode extension.